<div class="login-form">
    <form name="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <h2 class="text-center">Sign in</h2>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
        <div class="text-center social-btn">
            <a href={{GOOGLE_AUTH_URL}} class="btn google btn-block">
                <fa-icon class="social-icon" [icon]="faGoogle"></fa-icon> Sign in with <b>Google</b>
            </a>
            <a href={{FACEBOOK_AUTH_URL}} class="btn fb btn-block">
                <fa-icon class="social-icon" [icon]="faFacebookF"></fa-icon> Sign in with <b>Facebook</b>
            </a>
        </div>
        <div class="or-seperator"><i>or</i></div>
        <div class="form-group" [ngClass]="{'has-error': f.submitted && !username.valid}">
            <div class="input-group">
                <span class="input-group-addon">
                    <fa-icon class="social-icon" [icon]="faUser"></fa-icon>
                </span>
                <input type="text" name="username" class="form-control" id="username" [(ngModel)]="user.username"
                    placeholder="Email" #username="ngModel" required />
                <div class="alert alert-danger" *ngIf="f.submitted && !username.valid">
                    Username is required.
                </div>
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': f.submitted && !password.valid}">
            <div class="input-group">
                <span class="input-group-addon">
                    <fa-icon class="social-icon" [icon]="faLock"></fa-icon>
                </span>
                <input type="password" name="password" class="form-control" id="password" [(ngModel)]="user.password"
                    placeholder="Password" #password="ngModel" required />
                <div class="alert alert-danger" *ngIf="f.submitted && !password.valid">
                    Password is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block login-btn">Sign in</button>
        </div>

    </form>
    <div class="hint-text small">Don't have an account? <a href="/register" class="text-success">Register Now!</a></div>
</div>