<div class="container">
    <br>
    <div class="media">
        <div *ngIf="currentUser?.imageUrl">
            <img src={{currentUser?.imageUrl}} alt="..."
                class="img-thumbnail rounded-circle mr-3" width="100" height="100">
        </div>
        <div *ngIf="!currentUser?.imageUrl">
                <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="..."
                    class="img-thumbnail rounded-circle mr-3" width="100" height="100">
            </div>
        <div class="media-body">
            <h3 class="display-4">
                Hi <strong>{{currentUser?.name}}</strong>
            </h3>
        </div>
    </div>
    <hr>
    <div class="transaction-container">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">All Enrolled Courses</h3>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Course Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Enrollment Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of transactionList; let i=index">
                            <th scope="row">{{i + 1}}</th>
                            <td>{{item.course.title}}</td>
                            <td>{{item.course.author}}</td>
                            <td>{{item.dateOfIssue | date:"MMM d, y, h:mm:ss a"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>