<div class="login-form">
    <form name="form-signup" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <h2 class="text-center">Sign up</h2>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
        <div class="text-center social-btn">
            <a href={{GOOGLE_AUTH_URL}} class="btn google btn-block">
                <fa-icon class="social-icon" [icon]="faGoogle"></fa-icon> Sign in with <b>Google</b>
            </a>
            <a href={{FACEBOOK_AUTH_URL}} class="btn fb btn-block">
                <fa-icon class="social-icon" [icon]="faFacebookF"></fa-icon> Sign in with <b>Facebook</b>
            </a>
        </div>
        <div class="or-seperator"><i>or</i></div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <fa-icon class="social-icon" [icon]="faFile"></fa-icon>
                </span>
                <input type="text" name="name" class="form-control" id="name" [(ngModel)]="user.name" #name="ngModel"
                    placeholder="Full Name" required />
            </div>
            <div class="alert alert-danger" *ngIf="f.submitted && !name.valid">
                Full name is required.
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <fa-icon class="social-icon" [icon]="faUser"></fa-icon>
                </span>
                <input type="text" name="username" class="form-control" id="username" [(ngModel)]="user.username"
                    placeholder="Email" #username="ngModel" required />
            </div>
            <div class="alert alert-danger" *ngIf="f.submitted && !username.valid">
                Username is required.
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <fa-icon class="social-icon" [icon]="faLock"></fa-icon>
                </span>
                <input type="password" name="password" class="form-control" id="password" [(ngModel)]="user.password"
                    placeholder="Password" #password="ngModel" required />
            </div>
            <div class="alert alert-danger" *ngIf="f.submitted && !password.valid">
                Password is required.
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block login-btn">Sign Up</button>
        </div>

    </form>
</div>